@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #181818;
    padding-top: 50px;    
}

.title{
    font-weight: 700;
    font-size: 64px;
    margin: 0;
}

.header {
    background-color: #181818;
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    position: fixed;
    top: 0;
    z-index: 1000;

    transition: all .2s linear;
}

.header.hide{
    transform: translateY(-55px);
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header__logo {
    margin-right: 20px;
}
.header__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

.languages{
    font-weight: 300;
}

.header__nav-item {
    margin-right: 10px;
}

.header__nav-link,
.language {
    color: #9c9c9c;
    text-decoration: none;
}

.language.active{
    color: #ED2D2D;
}

.main {

}
.hero {
    background: url(../img/hero.jpg) center center/cover no-repeat;
    height: 900px;
    width: 100%;
}
.hero__container {
    display: flex;
    align-items: center;
    height: 100%;
}
.hero__title {
    margin: 0;
    padding: 0;
    margin: auto;
    color: #fff;
    font-size: 190px;
    font-weight: 700;

}
.hero__tags {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-top: -80px;
    list-style-type: none;
}
.hero__tag {
    font-weight: 300;
    font-size: 24px;
    color: #fff;

    padding: 0px 120px;
}
.main__container {
}

.donate {
    background-color: #181818;
    padding: 60px 0px;

}

.donate__container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
}

.donate__text {
    display: flex;
    flex-direction:column;
    height: 100%;
    max-width: 471px;
    color: #fff;
}
.donate__text-title {
    margin: 0;
    margin-bottom: 25px;
}
.donate__text-text {
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    margin-bottom: 23px;
}
.donate__text-button {
    border: 1px solid #ED2D2D;
    border-radius: 5px;
    padding: 10px 20px;
    color: #ED2D2D;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    text-decoration: none;
    max-width: 220px;
    transition: all .4s ease;
    cursor: pointer;
}

.donate__text-button:hover{
    background-color: #ED2D2D;
    color: #fff;
}

.donate__image {
    margin-right: 15px;
}


.emergency {
    padding: 80px 0px 120px 0px;
    background-color: #fff;
}

.emergency__container{
    display: flex;
    flex-direction: column;
}

.emergency__container>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.emergency__text {
    max-width: 600px;
}
.emergency__title {
    margin: 0;
    margin-bottom: 30px;
}

h3.emergency__title{
    font-size: 48px;
}

.emergency__list {
    padding: 0;
    list-style-type: none;
}
.emergency__list-item {
    font-weight: 300;
    font-size: 14px;
    padding-left: 18px;
    position: relative;
    margin-bottom: 20px;
}

.emergency__list-item::before{
    content: "";
    background-color: #ED2D2D;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.emergency__list-item span{
    font-weight: 500;
}

.emergency__image {
    margin: 0 auto;
}


.noway {
    background-color: #ED2D2D;
    color: #fff;
    padding: 120px 0px 80px 0px;
}
.noway__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}
.noway__image {
    margin-left: 120px;
    margin-top: 40px;
    /* position: absolute; */

    /* left: 10px; */
}
.noway__text {
}
.noway__title {
    margin: 0;
    margin-bottom: 40px;
}
.noway__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.noway__list-item {
    padding: 0;
    padding-left: 40px;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    margin-bottom: 30px;
    
}

.noway__list-item::before{
    content: url(../img/cross-icon.svg);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


.blog {
    background-color: #181818;
    padding: 100px 0px 120px 0px;
    color: #fff;
}
.blog__container {
}
.container {
}
.blog__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 25px;
}
.blog__text-title {
    margin: 0;
}
.blog__text-link {
    margin: 0;
    color: #fff;
    text-decoration: underline;
}
.blog__posts {
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blog__post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 30px;
    max-width: 260px;
    border-radius: 10px;
    background-color: #fff;
}
.blog__post-image {
    margin: 0 auto;
    margin-bottom: 20px;
    transition: all .5s ease;
    filter: grayscale(100%);
}

.blog__post:hover .blog__post-image {
    filter: grayscale(0%);
    
}

.blog__post-text{
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

.blog__post-title {
    color: #000;
    font-size: 14px;
    margin: 0;
    margin-bottom: 20px;
}
.blog__post-link {
    margin: 0;
    color: #000;
    text-decoration: underline;
}

.disinformation {
    background-color: #fff;
    padding: 80px 0px;
}
.disinformation__container {
}
.container {
}
.disinformation__title {
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 70px;
}
.disinformation__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    max-height: 500px;
}
.disinformation__list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    max-width: calc(50% - 20px);

    font-weight: 500;
    font-size: 14px;
}

.disinformation__list-item div{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    background-color: #ED2D2D;
    padding: 10px 20px;
    border-radius: 50%;

    margin-right: 15px;

    width: 60px;
    height: 60px;
}

.disinformation__list-item:last-child div{
    padding: 11px;

}


.newsletter {
    padding: 80px 0px;
    background-color: #ED2D2D;
    color: #000;
}
.newsletter__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.newsletter__container>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 220px;
}

.newsletter__title {
    font-weight: 400;
    max-width: 430px;
}

.newsletter__title span{
    color: #fff;
}

.newsletter__text {
    font-weight: 300;
    font-size: 20px;
    max-width: 459px;
}

#input{
    height: 35px;
    width: 473px;
    padding: 0;
    border: none;
    border-bottom: 3px solid #000;
    background-color: #ED2D2D;

}

#input:focus-visible{
    outline: none;

}

.newsletter__input.active::before{
    font-size: 12px;
    font-weight: 700;
    top: 0;
}

.newsletter__input {
    position: relative;
}

.newsletter__input::before{
    content: "EMAIL";
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s ease-in;
}

.newsletter__input::after{
    content: url(../img/arrow-icon.svg);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


.footer {

    background-color: #000;
    padding: 50px 80px;
    color: #fff;
}
.footer__container {
}
.footer__social {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0;
    margin-bottom: 20px;
}

.footer__social li{
    width: 120px;
    border: 1px solid #fff;
    border-radius: 30px;
    text-align: center;
    padding: 10px 15px;
}

.footer__social-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}
.footer__title {
    font-size: 120px;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.footer__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #848484;
    margin: 0;

}
.footer__info > ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;

}

.footer__info-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 20px;
}

.footer__info-item > img{
    margin-right: 7px;
}

.footer__info-link {
    color: #848484;
    text-decoration: none;
}
.footer__nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer__nav-item {
    margin-right: 20px;

}
.footer__nav-link {
    color: #848484;
    text-decoration: none;
}
.active {
}