@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #181818;
    padding-top: 50px;    
}

ul{
    list-style-type: none;
    padding: 0;
}

.title{
    font-weight: 700;
    font-size: 64px;
    margin: 0;
}

.header {
    background-color: #181818;
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 1px 5px #181818;
    transition: all .2s linear;
}


.header.hide{
    transform: translateY(-55px);
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header__logo {
    margin-right: 20px;
}
.header__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

.languages{
    font-weight: 300;
}

.header__nav-item {
    margin-right: 10px;
}

.header__nav-link,
.language {
    color: #9c9c9c;
    text-decoration: none;
}

.language.active{
    color: #ED2D2D;
}

.main {

}
.hero {
    background: url(../img/hero.jpg) center center/cover no-repeat;
    height: 900px;
    width: 100%;
}
.hero__container {
    display: flex;
    align-items: center;
    height: 100%;
}
.hero__title {
    margin: 0;
    padding: 0;
    margin: auto;
    color: #fff;
    font-size: 190px;
    font-weight: 700;

}
.hero__tags {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-top: -80px;
    list-style-type: none;
}
.hero__tag {
    font-weight: 300;
    font-size: 24px;
    color: #fff;

    padding: 0px 120px;
}
.main__container {
}

.donate {
    background-color: #181818;
    padding: 60px 0px;

}

.donate__container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
}

.donate__text {
    display: flex;
    flex-direction:column;
    height: 100%;
    max-width: 471px;
    color: #fff;
}
.donate__text-title {
    margin: 0;
    margin-bottom: 25px;
}
.donate__text-text {
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    margin-bottom: 23px;
}
.donate__text-button {
    border: 1px solid #ED2D2D;
    border-radius: 5px;
    padding: 10px 20px;
    color: #ED2D2D;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    text-decoration: none;
    max-width: 220px;
    transition: all .4s ease;
    cursor: pointer;
}

.donate__text-button:hover{
    background-color: #ED2D2D;
    color: #fff;
}

.donate__image {
    margin-right: 15px;
}


.emergency {
    padding: 80px 0px 120px 0px;
    background-color: #fff;
}

.emergency__container{
    display: flex;
    flex-direction: column;
}

.emergency__container>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.emergency__text {
    max-width: 600px;
}
.emergency__title {
    margin: 0;
    margin-bottom: 30px;
}

h3.emergency__title{
    font-size: 48px;
}

.emergency__list {
    padding: 0;
    list-style-type: none;
}
.emergency__list-item {
    font-weight: 300;
    font-size: 14px;
    padding-left: 18px;
    position: relative;
    margin-bottom: 20px;
}

.emergency__list-item::before{
    content: "";
    background-color: #ED2D2D;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.emergency__list-item span{
    font-weight: 500;
}

.emergency__image {
    margin: 0 auto;
}


.noway {
    background-color: #ED2D2D;
    color: #fff;
    padding: 120px 0px 80px 0px;
}
.noway__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}
.noway__image {
    margin-left: 120px;
    margin-top: 40px;
    /* position: absolute; */

    /* left: 10px; */
}
.noway__text {
}
.noway__title {
    margin: 0;
    margin-bottom: 40px;
}
.noway__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.noway__list-item {
    padding: 0;
    padding-left: 40px;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    margin-bottom: 30px;
    
}

.noway__list-item::before{
    content: url(../img/cross-icon.svg);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


.blog {
    background-color: #181818;
    padding: 100px 0px 120px 0px;
    color: #fff;
}
.blog__container {
}
.container {
}
.blog__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    margin-bottom: 25px;
}
.blog__text-title {
    margin: 0;
}
.blog__text-link {
    margin: 0;
    color: #fff;
    text-decoration: underline;
}
.blog__posts {
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    position: relative;
}

.swiper-wrapper{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.swiper-controls{
    width: 100%;
    position: absolute;
    top: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 100;
    padding: 0px 2px;
}

.swiper-controls-next,
.swiper-controls-prev {
    position: relative;
    width: 60px;
    height: 40px;
    background-color: #181818;
    border: none;
    border-radius: 5px;
    padding: 0;
    transition: all .3s ease;
    cursor: pointer;
}

.swiper-controls-next{
    border-radius: 0px 5px 5px 0px;
}

.swiper-controls-prev {
    border-radius: 5px 0px 0px 5px;
}

.swiper-controls-prev::after,
.swiper-controls-next::after{
    content: url('../img/arrow.svg');
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%, -40%);
}

.swiper-controls-next::after{
    top: 50%;
    left: 40%;

    transform: translate(-40%, -40%) rotateY(180deg);
}

.swiper-controls-next:hover,
.swiper-controls-prev:hover{
    filter: brightness(150%)
}

.blog__post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 30px;
    max-width: 260px;
    height: 312px;
    border-radius: 10px;
    background-color: #fff;
}

.blog__post.big{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 45px 35px;
    max-height: 250px;
    max-width: 575px;
    width: 575px;
    border-radius: 10px;
    background-color: #fff;
}

.blog__post-image {
    margin: 0 auto;
    margin-bottom: 20px;
    transition: all .5s ease;
    filter: grayscale(100%);
}

.blog__post:hover .blog__post-image {
    filter: grayscale(0%);
    
}

.blog__post-text{
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

.blog__post-title {
    color: #000;
    font-size: 14px;
    margin: 0;
    margin-bottom: 20px;
}

.blog__post-subtitle{
    font-weight: 300;
    font-size: 14px;
    color: #000;
    margin: 0;
    margin-bottom: 20px;
}

.blog__post-link {
    margin: 0;
    color: #000;
    text-decoration: underline;
}

.disinformation {
    background-color: #fff;
    padding: 80px 0px;
}
.disinformation__container {
}
.container {
}
.disinformation__title {
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 70px;
}
.disinformation__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    max-height: 500px;
}
.disinformation__list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    max-width: calc(50% - 20px);

    font-weight: 500;
    font-size: 14px;
}

.disinformation__list-item div{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    background-color: #ED2D2D;
    padding: 10px 20px;
    border-radius: 50%;

    margin-right: 15px;

    width: 60px;
    height: 60px;
}

.disinformation__list-item:last-child div{
    padding: 11px;

}


.newsletter {
    padding: 80px 0px;
    background-color: #ED2D2D;
    color: #000;
}
.newsletter__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.newsletter__container>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 220px;
}

.newsletter__title {
    font-weight: 400;
    max-width: 430px;
}

.newsletter__title span{
    color: #fff;
}

.newsletter__text {
    font-weight: 300;
    font-size: 20px;
    max-width: 459px;
    margin: 0;
}

#input{
    height: 35px;
    width: 473px;
    padding: 0;
    border: none;
    border-bottom: 3px solid #000;
    background-color: #ED2D2D;

}

#input:focus-visible{
    outline: none;

}

.newsletter__input.active::before{
    font-size: 12px;
    font-weight: 700;
    top: 0;
}

.newsletter__input {
    position: relative;
}

.newsletter__input::before{
    content: "EMAIL";
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s ease-in;
}

.newsletter__input::after{
    content: url(../img/arrow-icon.svg);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.footer {

    background-color: #000;
    padding: 50px 80px;
    color: #fff;
}
.footer__container {
}
.footer__social {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0;
    margin-bottom: 20px;
}

.footer__social li{
    width: 120px;
    border: 1px solid #fff;
    border-radius: 30px;
    text-align: center;
    padding: 10px 15px;
}

.footer__social-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}
.footer__title {
    font-size: 120px;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.footer__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #848484;
    margin: 0;

}
.footer__info > ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;

}

.footer__info-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 20px;
}

.footer__info-item > img{
    margin-right: 7px;
}

.footer__info-link {
    color: #848484;
    text-decoration: none;
}
.footer__nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer__nav-item {
    margin-right: 20px;

}
.footer__nav-link {
    color: #848484;
    text-decoration: none;
}
.active {
}


/* POST.HTML */


.post {
    background-color: #fff;
    padding: 80px 0px;
}
.post__container {
}
.post__info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    font-size: 20px;
    font-weight: 400;
}
.post__text {
    max-width: 740px;
}
.post__title {
    font-size: 64px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 50px;
}
.post__subtitle {
    margin: 0;
    margin-bottom: 50px;
}
.post__image {
    /* background: url("../img/blog/mines.png") center center/cover no-repeat; */
    width: 300px;
    height: 260px;
}
.post__content {
}
.post__content-list {
    margin: 0;
}
.post__content-item {
}
.item {
}
.item__title {
    font-size: 48px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;
}
.item__subtitle {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
}
.item__list {
}
.item__list-point {
}
.point {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 15px;
    padding-left: 35px;
    position: relative;
}

.point::before {
    content: url("../img/checkmark.svg");
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    left: 0;
    top: 0;
}



@media (max-width: 1024px) {
    .hero,.donate,.emergency,.noway,.blog,.disinformation,.newsletter{
        padding: 60px 0px;
    }
    .container{
        max-width: 900px;
        margin: 0 auto;
    }
    .header{
        max-width: 1024px;
    }
    .hero{
        max-height: 100vh;
    }
    .hero__tags{
        margin-top: -30px;
    }
    .hero__tag{
        padding: 0px 20px;
        font-size: 18px;
    }
    .emergency__container>div{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 30px;
    }
    .emergency__container>div:last-child{
        flex-direction: column-reverse;

    }
    .emergency__text{
        max-width: 100%;
    }
    .emergency__image {
        display: none;
        /* margin: 0; */
    }
    .noway__container{
        flex-direction: column;
    }
    .noway__text{
        margin: 0 auto;

    }
    .noway__image{
        /* margin-left: -220px; */
        position: relative;
    }
    .disinformation__list{
        max-height: 390px;
    }
    .title{
        font-size: 48px;
    }
    .hero__title{
        font-size: 100px;
    }
    .disinformation__list-item{
        font-size: 12px;
    }
    .disinformation__list-item div{
        padding: 10px 15px;
        font-size: 16px;
        width: 40px;
        height: 40px;
    }
    .blog__post{
        padding: 15px 15px;
        width: 45%;
        max-width: 50%;
    }
    .blog__post-text{
        justify-content: center;
        align-items: center;
        width: 100%;

    }
    .blog__post-title{
        font-size: 18px;
    }
    .newsletter__title{
        max-width: 300px;
        margin: auto 0;
    }
    .newsletter__container>div{
        max-height: 165px;
    }
    .newsletter__text{

    }
    .newsletter__input::after{
        top: 50%;
        right: -5px;
        transform: scale(.7) translateY(-50%);
    }
    #input{
        border-bottom: 2px solid #000;
    }

    .footer__title{
        font-size: 64px;
    }


}

@media (max-width: 768px) {
    .container{
        max-width: 700px;
    }
    .title{
        font-size: 30px;
    }
    .hero__title{
        font-size: 80px;
    }
    .donate__container{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .donate__text{
        max-width: 40%;
        height: 250px;
    }
    .donate__text-text{
        font-size: 14px;
    }
    .donate__image{
        margin: 0;
        max-width: 50%;
    }
    .donate__text-button{
        padding: 5px 10px;
    }
    .noway__image {
        display: none;
    }
    .noway__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .noway__list{
        align-items: center;
        justify-content: center;
    }
    .blog__posts{
    }
    .blog__post{
        
    }
    .blog__post-title{
        font-size: 16px;

    }

    .disinformation__list{
        max-height: 70vh;
    }
    .disinformation__list-item{
        font-size: 10px;
        font-weight: 300;
    }
    .newsletter__container>div{
        align-items: flex-end;
        max-height: 120px;
    }
    .newsletter__title{
        max-width: 200px;
        margin: 0;
    }
    .newsletter__text{
        max-width: 400px;
        text-align: right;
    }
    #input{
        width: 220px;
    }
}

@media (max-width: 576px) {
    .hero,.donate,.emergency,.noway,.blog,.disinformation,.newsletter{
        padding: 40px 0px;
    }
    .hero__tag{
        padding: 0px 10px;
        font-size: 14px;
    }
    .container{
        max-width: 96%;
    }
    .noway__title, .emergency__title, .disinformation__title{
        margin: 10px;
    }
    .title,
    h3.emergency__title{
        font-size: 24px;
    }
    .hero__title{
        font-size: 60px;
    }
    .donate__container{
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

    }
    .donate__image{
        /* width: 200px; */
        height: 142px;
        /* margin: auto 0; */
    }
    .donate__text{
        max-width: 200px;
        height: 142px;
        justify-content: space-between;
    }
    .donate__text-title{
    
        margin-bottom: 10px;
    }
    .donate__text-text{
        display: none;
    }
    .donate__text-button{
        font-size: 16px;
        padding: 5px;
        width: 130px;
        text-align: center;
    }
    .emergency__image{
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
    .emergency__container>div{
        flex-direction: column-reverse;
    }
    .emergency__container>div:last-child{
        flex-direction: column;
    }
    .emergency__list-item{
        font-size: 12px;
        margin-bottom: 5px;
    }
    .noway__text{
        align-items: flex-start;
        max-width: 96%;
        margin: 0 auto;
    }
    .noway__list{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .noway__list-item{
        font-size: 14px;
        font-weight: 400;
        padding-left: 20px;
        margin-bottom: 15px;
    }
    .noway__list-item::before{
        top: -7px;
        left: -7px;
        transform: scale(.5);
    }
    .blog__post{
        width: 100%;
        max-width: 100%;
    }
    
    .disinformation{
        height: 100%;
        padding-bottom: 300px;
    }
    .disinformation__list{
        flex-direction: column;
        height: 100%;
        flex-wrap: nowrap;
    }
    .disinformation__list-item{
        width: 100%;
        max-width: 100%;
    }
    .disinformation__list-item>div{
        margin-right: 5px;
    }
    .newsletter__text{
        font-size: 12px;
    }
    .footer{
        padding: 40px 0px;
    }
    .footer__title{
        font-size: 36px;
        text-align: center;
    }
}